<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1>This is our Playground</h1>

    <ul>
        <% for( let i = 0 ; i < 9 ; i++ ){ %>

            <li>
                <%= i %>
            </li>

        <% } %>

        <% if ( !true) { %>
            <h1>Come to ground</h1>

        <% } else { %>
            <h1>Don't come to ground</h1>
        <% } %>    

       

    </ul>
  </body>
</html>
